
# Created by https://www.toptal.com/developers/gitignore/api/flask,react
# Edit at https://www.toptal.com/developers/gitignore?templates=flask,react

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/flask,react
